.imageSelector {
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    box-sizing: content-box;
    border: solid 1px gray;
}
.image-upload {
    text-align: center;
    line-height: 100%;
    padding: 70px 0;
}
.image-name {
    position: absolute;
    bottom: 0;
    color: #FFF;
    background: rgba(0,0,0,0.5);
    width: 100%;
    text-align: center;
    padding: 4px 0;
}
.resultImagePrev {
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

.imageCropper {
    max-height: 500px;
}
.imageCropperModal .content {
    padding: 0;
}

.image-action-container {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}

.color-picker-container {
    width: 40px;
    height: 40px;
    border: solid 4px #FFF;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px #ccc;
    display: inline-block;
    margin: 4px;
}
.color-picker-container input.color-picker {
    width: 40px;
    height: 40px;
    pointer-events: none;
    border: none;
    opacity: 0;
}

.preview-mode {
    width: 320px;
    position: relative;
    padding: 2px;
}
.preview-mode .iphone {
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}
.preview-mode .preview-page {
    position: absolute;
    width: 276px;
    top: 19px;
    left: 22px;
}
.preview-mode .preview-header {
    height: 66px;
    background: #CCC;
}
.preview-mode .preview-content {
    height: 465px;
    background: #FFFFFF;
}
.preview-mode .preview-footer {
    height: 66px;
    background: #FFFFFF;
    border-top: 1px #CCCCCC solid;
}

.tabs {
    display: flex;
}
.tabs .tab {
    flex: 1;
    height: 40px;
    text-align: center;
    padding-top: 8px;
}
.tabs .tab .iconfont {
    font-size: 20px;
}
.tabs .tab .iconfont + p {
    font-size: 10px;
    margin-top: 2px;
}

.record-editor {
    height: 100px;
}

.timeline-container {
    padding-left: 10px;
    margin-left: 10px;
    border-left: #CCCCCC solid 2px;
}
.timeline-container .create-date {
    color: gray;
    margin-top: 10px;
}
.timeline-container .timeline-content {
    padding: 10px;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
}

.colors .tenant-id {
    width: 100px;
    display: inline-block;
}
.colors .color-block {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid 1px #EEE;
}

#qrCodeLogin {

}
#qrCodeLogin img {
    width: 100%;
}
#qrCodeLogin img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#qrCodeLogin .use-account {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 20px 0 20px;
    font-weight: bold;
    cursor: pointer;
    color: deepskyblue;
}
.pack-tenant-name {
    display: inline-block;
    width: 70px;
    text-align: center;
}
.pack-tenant-name p {
    margin-top: 4px;
    font-size: 12px;
    white-space: nowrap;
    width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #595959;
}
.pack-tenant-name img {
    height: 40px;
    width: 40px;
    border-radius: 30%;
    box-shadow: 0 2px 4px 1px #91c4ff;
}

.pack-note .note-header {
    padding: 6px 10px;
    background: #ffd86e;
}
.pack-box {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px #bbbbbb;
    padding-top: 1rem;
}
.pack-tenant-code {
    margin: 0;
}
.pack-note {
    position: absolute;
    right: -6px;
    transform: translate3d(100%, 0, 0);
    top: 0;
    width: 200px;
}
.pack-note .note-content {
    background: #ffe49b;
    padding: 10px;
    box-shadow: 0 1px 1px #8d8d8d;
}
.pack-tenants {
    background: #f5f5f5;
    position: relative;
}
.pack-count {
    position: absolute;
    padding: 6px 2px 6px 10px;
    right: -6px;
    top: 0;
    border-radius: 20px 0 0 20px;
    background: rgb(255, 216, 110);
    color: #000;
}

.copy-btn {
    cursor: pointer;
}

.toast-container {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.toast {
    padding: 20px 30px;
    background: rgba(0,0,0,0.8);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#packSelector {
    position: absolute;
    z-index: 100;
}

.ds-selectable.ds-selected {
    background: #EEE;
}

#packList{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.add-pack {
    pointer-events: none;
}

.load-more {
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    border: solid #ccc 1px;
    line-height: 48px;
    cursor: pointer;
}

.tenant-theme {
    display: inline-block;
    width: 10%;
    text-align: center;
}